<h2>Lista de retiradas</h2>
<hr>
<a href="/estoques">
    <button class="btn btn-success ">Nova retirada</button>
</a>
<a href="/estoques">
    <button class="btn btn-success d-inline">Ir para entradas</button>
</a>
{{#each estoques}}
    <div class="card mt-1">
        <div class="card-body">
            <h4>Produto: {{produto.nome}}</h4>
            <small>Quantidade: {{quantidade}}</small>   <br>         
            <small>Observacoes: {{observacoes}}</small> <br>
            <small>Data de entrada: {{dataE}}</small><br>            
            <small>Data de saida: {{dataS}}</small><br>                  
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhum produto registrado </h4>
{{/each}}