<h2>Lista de Usuarios</h2>
<hr>

{{#each usuarios}}
    <div class="card mt-4 {{getClassByAdminStatus eAdmin}}">
        <div class="card-body">
            <h4>Nome: {{nome}}</h4>
            <small>E-mail: {{email}}</small>   <br>                     
            <small>Admin status: {{eAdmin}}</small> <br>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhum usuario registrado </h4>
{{/each}}